:root {
    --gray30: #212121;
    --gray20: #616161;
    --gray10: #424242;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
}

.wrapper {
    width: 902px;
    margin: auto;
}

.header {
    position: sticky;
    top: 0;
}

.header-content {
    position: relative;
}

body {
    color: var(--gray30);
    font-family: roboto, sans-serif;
    margin: 0;
}

h1 {
    font-size: 3.75em;
    margin-top: 64px;
    margin-bottom: 16px;
    font-weight: normal;
}

p {
    line-height: 24px;
}

hr {
    margin: 64px 0;
}

.section-content+hr {
    display: none;
}

h2 {
    font-size: 2em;
    font-weight: normal;
    margin: 64px 0 40px 0;
}

h3 {
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 16px;
    margin-bottom: 24px;
    position: sticky;
    background-color: white;
    top: 0;
}

header {
    font-size: 14px;
    color: var(--gray20);
    position: absolute;
    top: 64px;
    width: 188px;
    left: -232px;
}

header li {
    margin: 16px 0;
}

nav details summary {
    color: var(--gray30);
    font-weight: bold;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    color: var(--gray30);
}

pre {
    background-color: #FEC62E;
    padding: 40px 0 40px 40pX;
    font-family: inherit;
    line-height: 24px;
}

.section-content blockquote {
    margin: 32px 0;
    padding-left: 16px;
    font-size: 24px;
    border-left: 4px solid var(--gray30);
}

.section-content blockquote q {
    color: var(--gray10);
}

blockquote p::before {
    content: "- ";
    color: var(--gray20);
}

.hero {
    background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../images/pattern.png');
    height: 350px;
}

.section-content img {
    margin-top: 40px;
    display: block;
}

.section-content {
    counter-reset: titlelist;
    margin-top: 156px;
}

.section-content:first-of-type {
    margin: 0;
}

.section-content h3 {
    counter-increment: tittlelist;
}

.section-content h3::before {
    content: counter(tittlelist) ". ";
}

.section-content ul li {
    margin: 16px 0;
}

.section-content ol li {
    line-height: 24px;
}

.section-content h3::after {
    content: "";
    width: 32px;
    height: 4px;
    background-color: var(--gray30);
    display: inline-block;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.slider-container {
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    overflow-x: hidden;
    font-size: 0;
}

.video {
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    text-align: center;
}

.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background-color: white;
    border-radius: 50%;
    margin-inline: 10px;
    margin-block-start: 10px
}

.slider-bullet:hover {
    background-color: #5551FF;
}