:root {
    --gray30: #212121;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
}

body {
    color: var(--gray30);
    font-family: roboto, sans-serif;
}

h1 {
    font-size: 3.75em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

header {
    font-size: 14px;
    color: #616161;
}

nav details summary {
    color: var(--gray30);
}

a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    color: var(--gray30);
}

pre {
    background-color: #FEC62E;
}

.hero {
    background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../images/pattern.png');
    height: 350px;
    background-size: 16%;
}