:root {
    --white30: white;
    --white10: #A5A3A5;
    --gray20: #3A3539;
    --gray10: #616161;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--white30);
    font-family: nunito, sans-serif;
    background-color: #251F24;
    margin: 0;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-block-start: 40px;
    margin-block-end: 16px;
}

p {
    line-height: 24px;
    color: var(--white10);
}

hr {
    margin-block: 40px;
    border-color: rgba(97, 97, 97, 0.2)
}

.section-content+hr {
    display: none;
}

h2 {
    font-weight: bold;
    font-size: 2.5em;
    margin-block: 40px;
}

h3 {
    font-weight: 600;
    font-size: 2em;
    margin-block-start: 40px;
    margin-block-end: 16px;
}

.section-content:first-of-type h3 {
    margin-block: 16px;
}

header {
    margin-block-start: 20px;
    font-size: 14px;
    color: var(--white10);
}

header li {
    margin-block-end: 16px;
}

nav details summary {
    color: var(--white30);
}

a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    color: var(--white30);
}

pre {
    background-color: var(--gray20);
    border-radius: 8px;
    padding: 40px;
    line-height: 24px;
    border: 8px solid #5551FF;
    box-shadow: -7px 10px 0 0 #ABAAF6;
    overflow: auto;
}

blockquote {
    margin-block-start: 80px;
    margin-block-end: 63px;
    margin-inline: 0;
    background: rgba(58, 53, 57, 1);
    padding: 24px;
    font-size: 24px;
    color: var(--white30);
    border-radius: 8px;
}

blockquote p {
    color: inherit;
}

blockquote p::before {
    content: "- ";
}

.hero {
    background-image: linear-gradient(96.07deg, #314755 36.63%, #26A0DA 102.18%);
    block-size: 96px;
}

.section-content img {
    margin-block-start: 40px;
    margin-block-end: 16px;
    display: block;
    max-inline-size: 100%;
}

.section-content {
    counter-reset: titlelist;
}

.section-content h3 {
    counter-increment: tittlelist;
}

.section-content h3::before {
    content: counter(tittlelist) ". ";
}

.section-content:nth-of-type(3) h3::before {
    content: none
}

.section-content:nth-of-type(3) ul,
.section-content:nth-of-type(3) ol {
    list-style-position: inside;
    padding-inline-start: 0;
}

.section-content ul li {
    margin-block: 16px;
    color: var(--white10);
}

.section-content ol li {
    line-height: 24px;
    color: var(--white10);
}

.wrapper {
    max-inline-size: 636px;
    margin-inline: auto;
    padding-inline: 15px;
}

.slider-container {
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    overflow-x: hidden;
    font-size: 0;
}

.video {
    margin: 0;
    display: inline-block;
    width: 100%;
    block-size: auto;
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    text-align: center;
}

.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background-color: white;
    border-radius: 50%;
    margin-inline: 10px;
    margin-block-start: 10px
}

.slider-bullet:hover {
    background-color: #5551FF;
}

aside p {
    color: var(--white30);
    margin-block-start: 51px;
}

aside a {
    text-decoration: revert;
    color: #157EFB;
}

div.section-content:nth-of-type(2) h2 {
    margin-block-start: 40px;
    margin-block-end: 16px;
}

.section-content .form input {
    inline-size: 100%;
    border: 1px solid var(--white30);
    background-color: #251F24;
    margin-block-end: 24px;
    box-sizing: border-box;
    border-radius: 8px;
    block-size: 48px;
    padding-block: 12px;
    padding-inline-start: 16px;
    color: var(--white30);
    font-size: 16px;
    display: block;
}

/* .section-content .form ::placeholder para buscadores modernos*/
.section-content .form ::-webkit-input-placeholder {
    color: var(--white10);
}

.section-content .form input[type="submit"] {
    background-color: #157EFB;
    border: none;
}

@media screen and (width >=1170px) {
    h1 {
        font-size: 3.75em;
        font-weight: bold;
        margin-block-start: 64px;
        margin-block-end: 16px;
    }

    .header {
        position: sticky;
        inset-block-start: -45px;
    }

    .header-content {
        position: relative;
    }

    header {
        font-size: 14px;
        color: var(--white10);
        position: absolute;
        inset-block-start: 80px;
        inset-inline-start: -250px;
        inline-size: 188px;
    }

    .hero {
        background-image: linear-gradient(96.07deg, #314755 36.63%, #26A0DA 102.18%);
        block-size: 350px;
    }
}